{% extends "app/layout.html" %}

{% block content %}

<h2>{{ device.device_name }}</h2>

<div class="entrances">                 
        {% for adapter, parameter in data %}
            <div class="col-6">
                <h4 class="col-6 font-weight-bold">{{adapter}}</h4>
                {#
                {% for p_name, d in parameter %}
                    <p class="text-primary">{{p_name}}</p>                
                    <div class="d-flex chart">                        
                        <input type="hidden" id="{{adapter}}{{p_name}}" value="{{d}}" />
                        <!--input type="hidden" id="{{adapter}}{{parameter}}" value="{{dt}}" /-->
                        <div id="{{adapter}}{{p_name}}_chart">

                        </div>
                    </div>    
                {% empty %}
                {% endfor %}
                    #}
            </div>            
        {% empty %}               
        {% endfor %}    

    <script type="text/javascript">
        //TODO: Здесь должна быть отрисовка всех этих графиков

    </script>
</div>

<div class="modal fade" id="{{param.parameter_name}}_in" tabindex="-1" role="img" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered position-static">
		<div class="modal-content">
			<div class="modal-header">
			    <h5 class="modal-title">{#chart.name#}</h5>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        <span aria-hidden="true">&times;</span>
			    </button>
			</div>
			<div class="modal-body">
			    <div class="ct-chart ct-perfect-fourth" id="chart-large{{param.parameter_name}}_in">            
			    </div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="{{param.parameter_name}}_out" tabindex="-1" role="img" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered position-static">
		<div class="modal-content">
			<div class="modal-header">
			    <h5 class="modal-title">{#chart.name#}</h5>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        <span aria-hidden="true">&times;</span>
			    </button>
			</div>
			<div class="modal-body">
			    <div class="ct-chart ct-perfect-fourth" id="chart-large{{param.parameter_name}}_out">            
			    </div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>



{% endblock %}
