{% extends "app/layout.html" %}

{% block content %}

<h2>{{ device.device_name }}</h2>
<div class="filter d-block">
	<form class="form" method="post">
		{% csrf_token %}
	    {{ form }}
	    <input type="submit" value="Применить фильтр"/> 
	</form>
</div>

<div class="entrances">
    {% for adapter, param in data.items %}
        <h4 class="font-weight-bold">{{adapter}}</h4>
        <div class="col-12 d-flex">
            {% for p_name, data in param.items %}
				{% cycle '<div class="col-6">' '' '' %}
                <p class="text-primary">{{p_name}}</p>
                <div class="chart">
					<input type="hidden" id="{{adapter}} {{p_name}}" value="{{data}}" />
                    <canvas id="{{p_name}}"></canvas>
                </div>    
				{% cycle '' '' '</div>' %}
            {% empty %}
			<p>Пусто</p>
            {% endfor %}				
        </div>            
    {% empty %}               
    {% endfor %}        
</div>

<div class="modal fade" id="{{param.parameter_name}}_in" tabindex="-1" role="img" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered position-static">
		<div class="modal-content">
			<div class="modal-header">
			    <h5 class="modal-title">{#chart.name#}</h5>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        <span aria-hidden="true">&times;</span>
			    </button>
			</div>
			<div class="modal-body">
			    <div class="ct-chart ct-perfect-fourth" id="chart-large{{param.parameter_name}}_in">            
			    </div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="{{param.parameter_name}}_out" tabindex="-1" role="img" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered position-static">
		<div class="modal-content">
			<div class="modal-header">
			    <h5 class="modal-title">{#chart.name#}</h5>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        <span aria-hidden="true">&times;</span>
			    </button>
			</div>
			<div class="modal-body">
			    <div class="ct-chart ct-perfect-fourth" id="chart-large{{param.parameter_name}}_out">            
			    </div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>



{% endblock %}
