{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<div class="entrances">                 
        {% for adapter in data%}
            <div class="col-6">
                <h4 class="col-6 font-weight-bold">{{adapter}}</h4>
                {% for param in adapter %}
                    <div class="d-flex chart">
                        <p>{{param}}</p>
                        <input type="hidden" id="{{adapter}}{{parameter}}" value="{{param.values}}" />
                        <!--input type="hidden" id="{#adapter}}{{parameter}}" value="{{param.values#}" /-->
                        <div id="{{adapter}}{{parameter}}_chart">

                        </div>
                    </div>    
                {% empty %}
                {% endfor %}
            </div>            
        {% empty %}               
        {% endfor %}    

    <script type="text/javascript">
        //TODO: Здесь должна быть отрисовка всех этих графиков

    </script>
</div>



{% endblock %}
