{% extends "app/layout.html" %}

{% block content %}

<div class="row">
	<div class="entrances">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th rowspan="3" class="text-center">Энерговвод</th>
					<th rowspan="3" class="text-center">Фактический расход электроэнергии (кВт*ч)</th>
					<th rowspan="2" class="text-center" colspan="3">Фактическая экономия электроэнергии</th>
					<th colspan="6" class="text-center">Ток (А)</th>
					<th colspan="6" class="text-center">Напряжение (В)</th>
				</tr>
				<tr>
					<th colspan="2" class="text-center">Фаза A</th>
					<th colspan="2" class="text-center">Фаза B</th>
					<th colspan="2" class="text-center">Фаза C</th>
					  			    
					<th colspan="2" class="text-center">Фаза A</th>
					<th colspan="2" class="text-center">Фаза B</th>
					<th colspan="2" class="text-center">Фаза C</th>
				</tr>
				<tr>
					<th scope="col">(кВт*ч)</th>
					<th scope="col">(руб)</th>
					<th scope="col">(%)</th>
							  
					<th scope="col">Вход</th>
					<th scope="col">Выход</th>
					<th scope="col">Вход</th>
					<th scope="col">Выход</th>
					<th scope="col">Вход</th>
					<th scope="col">Выход</th>
							  
					<th scope="col">Вход</th>
					<th scope="col">Выход</th>
					<th scope="col">Вход</th>
					<th scope="col">Выход</th>
					<th scope="col">Вход</th>
					<th scope="col">Выход</th>
				</tr>
			</thead>
			<tbody id="tbody">
				{% for device, value in devices.items %}
				<tr>
					<td>
						<a href="/entrances/{{value.pk}}">
							{{device}}
						</a>
					</td>
					<td id="total_power">{{value.values.total_power}}</td>
					<td id="XP">{{value.values.XP}}</td>
					<td id="XP_cost" ></td> <!--Устанавливается javascript'ом script.js-->
					<td id="XP_percent"></td> <!--Устанавливается javascript'ом script.js-->
					<td>{{value.values.A_I1}}</td>
					<td>{{value.values.A_I2}}</td>
					<td>{{value.values.B_I1}}</td>
					<td>{{value.values.B_I2}}</td>
					<td>{{value.values.C_I1}}</td>
					<td>{{value.values.C_I2}}</td>
					<td>{{value.values.A_U1}}</td>
					<td>{{value.values.A_U2}}</td>
					<td>{{value.values.B_U1}}</td>
					<td>{{value.values.B_U2}}</td>
					<td>{{value.values.C_U1}}</td>
					<td>{{value.values.C_U2}}</td>
				</tr>
				{% empty %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col">		
		<h2>{#Имя компании#}</h2>
		<div class="filter d-block">
			<form class="form" method="post">
				{% csrf_token %}
			    {{ form }}
			    <input type="submit" value="Применить фильтр"/> 
			</form>
		</div>
		<div class="header d-flex flex-row justify-content-between">
			<div class="tarif">
				<p class="font-weight-bold">Действующий тариф на электроэнергию (руб/кВт*ч)</p>
				<input class="form-control" type="text" id="tarif" placeholder="{#Значение тарифа#}">
			</div>
		</div>		
		<div class="sum">
			<p class="font-weight-bold">Фактический расход электроэнергии (кВт*ч)</p>
			<div class="text-muted">    
				{#Сумма расхода по всем счетчикам за всё время#}
			</div>
			<p class="font-weight-bold">Фактическая экономия электроэнергии:</p>
			<ul>
				<li>
					<p class="font-weight-bold">За период (кВт*ч)</p>
					<p class="text-muted">
						{#Расход за указанный период#}
					</p>
				</li>
				<li>
					<p class="font-weight-bold">За период (руб)</p>
					<p class="text-muted">
						{#Расход за период * тариф#}
					</p>
				</li>
				<li>
					<p class="font-weight-bold">За период (%)</p>
					<p class="text-muted">
						{#????????????#}
					</p>
				</li>
			</ul>
		</div>

		<div class="d-flex flex-column">
			<div class="ct-chart ct-perfect-fourth economy-chart" id="chart">
				<input type="hidden" id="economy" value="[{{power_array}}]"/>
				<canvas></canvas> 
			</div>			
		</div>

	</div>
</div>


{% endblock %}
