{% extends "app/layout.html" %}

{% block content %}

<div class="row">
	<div-- class="col">		
		<h2>{#Имя компании#}</h2>
		<div class="header d-flex flex-row justify-content-between">
			<div class="tarif">
				<p class="font-weight-bold">Действующий тариф на электроэнергию (руб/кВт*ч)</p>
				<input class="form-control" type="text" placeholder="{#Значение тарифа#}" readonly>
			</div>
			<div class="filter">
				<form class="form" action="{% url 'home' %}">
					<label for="date1">Начало периода</label>
					<input type="date" class="form-control" id="date1" >
					<label for="date2">Начало периода</label>
					<input type="date" class="form-control" id="date2" >
					<input type="submit" value="Применить фильтр"/> 
				</form>
			</div>			
		</div>
		<!--div class="device dropdown">
				<button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Выбор девайса
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					{# for dev in devices #}
						<a class="dropdown-item" href="/{dev.id_device}}">{dev.device_name}}</a>
					{# empty #}
					{# endfor #}
				</div>
			</div-->
		<div class="sum">
			<p class="font-weight-bold">Фактический расход электроэнергии (кВт*ч)</p>
			<div class="text-muted">    
				{#Сумма расхода по всем счетчикам за всё время#}
			</div>
			<p class="font-weight-bold">Фактическая экономия электроэнергии:</p>
			<ul>
				<li>
					<p class="font-weight-bold">За период (кВт*ч)</p>
					<p class="text-muted">
						{#Расход за указанный период#} 
					</p>
				</li>
				<li>
					<p class="font-weight-bold">За период (руб)</p>
					<p class="text-muted">
						{#Расход за период * тариф#}
					</p>
				</li>
				<li>
					<p class="font-weight-bold">За период (%)</p>
					<p class="text-muted">
						{#????????????#}
					</p>
				</li>
			</ul>
		</div>

		<div class="chart d-flex flex-column">
			<a class="mx-auto" href="#" data-toggle="modal" data-target="#large-chart">
				<h5>{#chart.name#}Заголовок</h5>
			</a>
			<div class="ct-chart ct-perfect-fourth" id="chart">			
			</div>			
		</div>

		<div class="modal fade" id="large-chart" tabindex="-1" role="img" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered position-static">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">{#chart.name#}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="ct-chart ct-perfect-fourth" id="chart-large">            
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					</div>
				</div>
			</div>
		</div>

		<div class="entrances">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th rowspan="3" class="text-center">Энерговвод</th>
						<th rowspan="3" class="text-center">Фактический расход электроэнергии (кВт*ч)</th>
						<th rowspan="2" class="text-center" colspan="3">Фактическая экономия электроэнергии за текущие сутки</th>
						<th colspan="6" class="text-center">Ток (А)</th>
						<th colspan="6" class="text-center">Напряжение (В)</th>
					</tr>
					<tr>
						<th colspan="2" class="text-center">Фаза A</th>
						<th colspan="2" class="text-center">Фаза B</th>
						<th colspan="2" class="text-center">Фаза C</th>
						  			    
						<th colspan="2" class="text-center">Фаза A</th>
						<th colspan="2" class="text-center">Фаза B</th>
						<th colspan="2" class="text-center">Фаза C</th>
					</tr>
					<tr>
						<th scope="col">(кВт*ч)</th>
						<th scope="col">(руб)</th>
						<th scope="col">(%)</th>
								  
						<th scope="col">Вход</th>
						<th scope="col">Выход</th>
						<th scope="col">Вход</th>
						<th scope="col">Выход</th>
						<th scope="col">Вход</th>
						<th scope="col">Выход</th>
								  
						<th scope="col">Вход</th>
						<th scope="col">Выход</th>
						<th scope="col">Вход</th>
						<th scope="col">Выход</th>
						<th scope="col">Вход</th>
						<th scope="col">Выход</th>
					</tr>
				</thead>
				<tbody>
					{% for device in devices %}
					<tr>
						<td>
							<a href="/entrances/{{device.device_id}}">{{device.device_name}}</a>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					{% empty %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	var values = {{values|safe}};
	data_arr = []
	values.forEach(el => data_arr.push(Number(el.data)));
	date_arr = []
	values.forEach(el => date_arr.push(Date(el.date)));

	var data = {
		// A labels array that can contain any sort of values
		labels: date_arr,
		// Our series array that contains series objects or in this case series data arrays
		series: [data_arr]
	};
	
	
	// Create a new line chart object where as first parameter we pass in a selector
	// that is resolving to our chart container element. The Second parameter
	// is the actual data object.
	new Chartist.Line('#chart', data);
	new Chartist.Line('#chart-large', data);
</script>


{% endblock %}
